<div class="container w-100">
    
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center"> Sejam bem vindos ao meu blog!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas tempora error assumenda modi est tenetur mollitia? Sint, expedita laboriosam eveniet voluptates cupiditate perspiciatis magnam fuga voluptatum asperiores laborum obcaecati nostrum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ullam ratione reiciendis minima, in non rem aliquam nulla, atque veniam quam numquam consectetur consequatur itaque quod incidunt nostrum. Harum, enim.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, veniam libero. Quo saepe assumenda voluptatibus numquam exercitationem nihil error, dolor ut labore beatae quos, cumque in illo esse optio hic.
            </p>
        </div>
    </div>
</div>

    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark font-weight-bold text-uppercase" routerLink='/feed'>Ver o feed </button>

        </div>
    </div>



